# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
.htaccess
.settings
sites/default/files/styles/
sites/default/files/languages
sites/default/files/js
sites/*/files
sites/*/private
sites/default/default.settings.php
temp/
.gitignore