body {
	font-family: "Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
	background: url(../images/dashboard_bg.png);
}
.container,.navbar-fixed-top .container {
	width: 980px;
}

#row {
	min-height: 600px;
}
.main_column {
	width: 655px;
	float: left;
	border-right: 1px solid #EDEDED;
	padding: 0px 30px 0 30px;
}
.right_column,.left_column{
	width: 230px;
	float: left;
}
.clearfix:after{
 content:".";
 display:block;
 height:0;
 line-height:0;
 clear:both;
 visibility:hidden;
}
.clearfix{display:inline-block;}
/* Hide from IE Mac */
.clearfix{display:block;}
/* End hide from IE Mac */
/* end of clearfix */
.float-l{
	float: left;
}
.float-r{
	float: right;
}
#row {
	background-color: #FAFAFA;
	border: 1px solid #EDEDED;
	margin: 30px auto;

	-moz-border-radius: 5px;      /* Gecko browsers */
	-webkit-border-radius: 5px;   /* Webkit browsers */
	border-radius:6px;            /* W3C syntax */
}

#navbar {
	background: url(../images/header_bg02.png);
}
nav {
	position: relative;
	margin-top: 10px;
	font-size: 16px;
}
.main-menu  a,.secondary-menu a {
	height: 33px;
	line-height: 23px;
	margin-left: 20px;
	padding: 0 10px;
	float: left;
	display: block;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	color: white;
	text-shadow: 0 0px 0 white;
}

.secondary-menu a {
	margin-left: 0px;
	color: #fefcfc;
	text-decoration: none;
	font-size: 13px;
}

.secondary-menu a:hover {
	color: #FFF;
}

.main-menu a.active{
	background: url(../images/nav_bgn.png) no-repeat center 0;
	_background: url(../images/nav_bgn.gif) no-repeat center 0;
	color: #333;
}
.main-menu .first a.active{
	background:none;
	_background:none;
	color: #333;
}
.last a:hover,.secondary-menu a:hover {
	height: 33px;
	background: url(../images/nav_bgn.png) no-repeat 0 -40px;
	_background: url(../images/nav_bgn.gif) no-repeat 0 -40px;


}
	
.main-menu .last a{
	font-size: 20px;
	width: 32px;
	font-size: 16px  !important;
}
.main-menu .last a:hover {
 	color: #F6C;
 }
.main-menu li,.secondary-menu li{
	float: left;
	list-style: none;
}
secondary-menu li{
	margin-left: 10px;
}
	


#actions {
	margin-top: 79px;
}

#actions .user-pic {
	width: 90px;
	height: 90px;
	float: left;
}
.round120 {
	width:100px; height:100px;
	border: 10px solid #999;
	-moz-border-radius: 120px;      /* Gecko browsers */
	-webkit-border-radius: 120px;   /* Webkit browsers */
	border-radius:120px;            /* W3C syntax */
	overflow: hidden;
}
.girl{
	border-color:#F6C;
}
#actions ul {
	height: 100px;
	overflow: hidden;
	position: relative;
	z-index: 102;
	background: white;
	float: left;
	margin-left: 10px;
}
#actions ul li {
	float: left;
	_display: inline;
	width: 144px;
	height: 100px;
	border-right: 1px #EEE dotted;
}
.view-index {
	margin: 0 0 30px;
}

.t-Con{
	margin-left: 20px;
	margin-top: 15px;
}

#admin-menu{
	margin-top: 13px;
}

.view-index .views-row{
	margin-bottom: 30px;
	border-bottom: 1px dotted #CCC;
}
h1,h2{
	font-size: 20px;
}